<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 圾时达约</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .diamond-nav {
            transform: rotate(45deg);
            width: 120px;
            height: 120px;
            background-color: #d9534f;
            margin: -30px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid white;
        }

            .diamond-nav a {
                transform: rotate(-45deg);
                color: white !important;
                font-weight: bold;
                font-size: 16px;
                text-decoration: none;
                display: block;
                width: 100%;
                text-align: center;
                padding: 0;
            }

            .diamond-nav:hover {
                background-color: #c9302c;
            }

        .navbar-nav {
            display: flex;
            align-items: center;
        }

        .normal-nav {
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="normal-nav">@Html.ActionLink("首页", "Index", "Home")</li>
                    <li class="normal-nav">@Html.ActionLink("我的订单", "Order", "Home")</li>
                    <li class="normal-nav">@Html.ActionLink("我的消息", "Message", "Home")</li>
                    <li class="diamond-nav">@Html.ActionLink("圾时达约", "Index", "Home", new { area = "" }, new { @class = "diamond-link" })</li>
                    <li class="normal-nav">@Html.ActionLink("帮助中心", "Help", "Home")</li>
                    <li class="normal-nav">@Html.ActionLink("问题反馈", "Feedback", "Home")</li>
                    <li class="normal-nav">@Html.ActionLink("个人中心", "Profile", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 圾时达约</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>